<div id="<%= dom_id review %>">
  <p>
    <strong>Customer:</strong>
    <%= review.customer_id %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= review.package_id %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= review.rating %>
  </p>

  <p>
    <strong>Review text:</strong>
    <%= review.review_text %>
  </p>

  <p>
    <strong>Review date:</strong>
    <%= review.review_date %>
  </p>

</div>
